# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environments
.venv/
venv/
env/

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/
*.swp

# SAM / Build artifacts
.aws-sam/
.sam-cache/
build/
dist/

# Logs
*.log

# Credentials / secrets
.env
*.pem
samconfig.toml
